[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curttimson/hugo-theme-massively.git
[submodule "themes/natrium"]
	path = themes/natrium
	url = https://github.com/mobybit/hugo-natrium-theme.git
